# ***Assignment for introduction to python***:
---

---

**Q.1) What are the types of Applications?**

---

ANS.

1. Web Applications

2. Desktop GUI Applications

3. Console Applications

4. Scientific and Numeric Applications

5. Game Development Application

6. Network Applications

7. Data Science and Machine Learning Applications

8. Automation and Scripting

9. Embedded Systems

10. Web Scraping Applications

11. Artificial Intelligence and Robotics

12. Financial Applications

**Q.2) What is programing?**

---

ANS.

Programming refers to a technological process for telling a computer which tasks to perform in order to solve problems. You can think of programming as a collaboration between humans and computers, in which humans create instructions for a computer to follow (code) in a language computers can understand.

**Q.3) What is Python?**

---

ANS .

python is a high level ,general purpose , interpreted programming language that has readablity and simplycity.

It was created by guido van rossum frist released in 1991.

python has become one of the most popular versatile programming language one for clean syntax and easy to learn nurture.

**Q.4) Write a Python program to check if a number is positive, negative or zero.**

---

In [ ]:
num = int(input("enter the number ="))
if num > 0:
  print("number is positive")
elif num < 0:
    print("number is negative")
else:
    print("number is Zero")

enter the number =45
number is positive

**Q.5)  Write a Python program to get the Factorial number of given numbers.**

---

In [ ]:
number = int(input("enter the factorial ="))
factorial = 1
for i in range(1,number+1):
  factorial *= i
print("number of",number," is",factorial)

enter the factorial =8
number of 8  is 40320

**Q.6) Write a Python program to get the Fibonacci series of given range.**

---

In [ ]:
def fibonacci(n):
  a = 0
  b = 1
  if n < 0:
    print("incorrect input")
  elif n == 1:
    print(a)
  else:
    print(a)
    print(b)
    for i in range(2,n):
      c = a + b
      a = b
      b = c
      print(c)

fibonacci(10)

0
1
1
2
3
5
8
13
21
34

**Q.7) How memory is managed in Python?**

---

ANS.

Python memory management is the process of allocating and dealing with memory so that your programs can run efficiently. One advantage of Python, compared to other programming languages, is that it can perform memory management tasks automatically.

**Q.8) What is the purpose continuing statement in python?**

---

ANS.

Python Continue Statement skips the execution of the program block after the continue statement and forces the control to start the next iteration.

**Q.9) Write python program that swap two number with temp variable**
**and without temp variable.**

---

In [ ]:
num1 = int(input("enter the frist number : "))
num2 = int(input("enter the 2nd number : "))

print("before swapping num1",num1,"num2",num2)

temp = num1
num1 = num2
num2 = temp

print("after swapping num1",num1,"num2",num2)

#without temp variable
num1 = num1 + num2
num2 = num1 - num2
num1 = num1 - num2

print("After swapping without using temp variable : num1",num1,"num2",num2)

enter the frist number : 45
enter the 2nd number : 85
before swapping num1 45 num2 85
after swapping num1 85 num2 45
After swapping without using temp variable : num1 45 num2 85

**Q.10) Write a Python program to find whether a given number is even**
**or odd, print out an appropriate message to the user.**

---

In [ ]:
num = int(input("emter the number : "))
if num % 2 == 0:
  print("given number is even")
else:
  print("given number is odd")

emter the number : 45
given number is odd

**Q.11) Write a Python program to test whether a passed letter is a vowel**
**or not.**

---

In [ ]:
num = input("enter a string =")
if "a" in num or "e" in num or "i" in num or "o" in num or "u" in num:
  print("vowel")
else:
  print("Consonant")

enter a string =sandhya
vowel

**Q.12) Write a Python program to sum of three given integers. However, if**
**two values are equal sum will be zero.**

---

In [ ]:
num1 = int(input("enter a num ="))
num2 = int(input("enter a num ="))
num3 = int(input("enter a num ="))
if num1 == num2 or num2 == num3 or num3 == num1:
  print("number is zero")
else:
  print(num1+num2+num3)

enter a num =8
enter a num =7
enter a num =8
number is zero

**Q.13) Write a Python program that will return true if the two given**
**integer values are equal or their sum or difference is 5.**

---

In [ ]:
num1 = int(input("enter a number ="))
num2 = int(input("enter a number ="))
if num1 == num2:
  print("true")
elif (num1 + num2) == 5:
  print("true")
elif (num1 - num2) == 5:
  print("true")
else:
  print("False")

enter a number =8
enter a number =7
False

**Q. 14) Write a python program to sum of the first n positive integers.**

---

In [ ]:
n = int(input("enter the number : "))
a = n*(n+1)//2
print("enter the frist n is ",a,"positive integer is :",n)

enter the number : 8
enter the frist n is  36 positive integer is : 8

**Q. 15) Write a Python program to calculate the length of a string.**

---

In [ ]:
my_str = input("enter my string : ")
len(my_str)

enter my string : sandhya

7

**Q. 16) Write a Python program to count the number of characters**
**(character frequency) in a string**

---

In [ ]:
def char_frequency(str1):
  frequency = {}
  for i in str1:
    keys = frequency.keys()
    if i in keys:
      frequency[i] += 1
    else:
      frequency[i] = 1
      return frequency
print(char_frequency("google.com"))

{'g': 1}

**Q.17) What are negative indexes and why are they used?**

---

ANS.

Negative indexing allows you to access elements of a sequence from the end, using negative numbers as indexes. This can be useful for getting the last few elements of a sequence, reversing a sequence, or performing other operations that require accessing elements from the end.

**Q.18) Write a Python program to count occurrences of a substring in a string.**

---

In [ ]:
def count_substring_occurrences(string, substring):
    return string.count(substring)
string = "sandhya lalabhai rami , bunty lalabhai rami"
substring = "rami"
count  = count_substring_occurrences(string, substring)
print("The substring ",substring,"occurs" ,count,"times in the string ",string,".")

The substring  rami occurs 2 times in the string  sandhya lalabhai rami , bunty lalabhai rami .

**Q. 19) Write a Python program to count the occurrences of each word in a**  
**Page 17 of 28 given sentence**

---

In [ ]:
def count_words(sentence):
  words = sentence.split()
  words_count = {}
  for i in words:
    if i in words_count:
      words_count[i] += 1
    else:
      words_count[i] = 1
  print(words_count)
sentence = "hello i am sandhya,i am from kalol.Welcome to the world of Python."
print("Word count in the sentence",sentence)

Word count in the sentence hello i am sandhya,i am from kalol.Welcome to the world of Python.

**Q. 20) Write a Python program to get a single string from two given strings,**
**separated by a space and swap the first two characters of each string.**

---

In [ ]:
my_str1 = input("enter the string1 : ")
my_str2 = input("enter the string : ")

new_str1 = my_str2[:2] + my_str1[2:]
new_str2 = my_str1[:2] + my_str2[2:]

new_str = new_str1 + " " + new_str2

print(new_str)

enter the string1 : sandhya
enter the string : rami
randhya sami

**Q. 21) Write a Python program to add 'in' at the end of a given string (length**
**should be at least 3). If the given string already ends with 'ing' then**
**add 'ly' instead if the string length of the given string is less than 3,**
**leave it unchanged.**

---

In [ ]:
def modify_str(s):
  if len(s) < 3:
    return s
  elif s.endswith('ing'):
    return s + "ly"
  else:
    return s + "ing"

mystr1 = ["sandhya","dipty","neha"]
strings = [modify_str(s) for s in mystr1]

for i , modified in zip(mystr1,strings):
  print("mystr",i,"modified : ",modified)

mystr sandhya modified :  sandhyaing
mystr dipty modified :  diptying
mystr neha modified :  nehaing

**Q. 22) Write a Python function to reverses a string if its length is a multiple**
**of 4.**

---

In [ ]:
name = input("enter a name : ")
if len(name) % 4 == 0:
  print(name[::-1])
else:
  print(name)

enter a name : sand
dnas

**Q. 23) Write a Python program to get a string made of the first 2 and the last**
**2 chars from a given a string. If the string length is less than 2, return**
**instead of the empty string.**

---

In [ ]:
string = input("enter a string : ")
if len(string) < 2:
  print("string is a : "," ")
else:
  print(string[:2]+string[-2:])

enter a string : sandhya
saya

**Q. 24) Write a Python function to insert a string in the middle of a string.**

---

In [ ]:
string = input("enter a string : ")
print(string[:2]+"insert"+string[2::])

enter a string : sandhya
sainsertndhya

**Q. 25) What is List? How will you reverse a list?**

---

ANS.  What is List

In Python, a list is a built-in data type that is used to store collections of items. Lists are ordered, mutable (changeable), and allow duplicate elements. They are defined by enclosing the items in square brackets [], separated by commas. Lists can contain items of different types, including other lists.

In [ ]:
# How will you reverse a list?
my_list = ["sandhya","neha","dipty","Avika"]
my_list_reverses = my_list[::-1]
print(my_list_reverses)

['Avika', 'dipty', 'neha', 'sandhya']

**Q. 26) How will you remove last object from a list?**

---

In [ ]:
# Using pop() Method
my_list = ["sandhya","neha","dipty","Avika"]
my_list.pop()
print("Using pop() : ",my_list)

# Using Slicing

my_list[-1]
print("Using Slicing : ",my_list)

Using pop() :  ['sandhya', 'neha', 'dipty']
Using Slicing :  ['sandhya', 'neha', 'dipty']

**Q. 27) Suppose list1 is [2, 33, 222, 14, and 25], what is list1 [1]?**

---

In [ ]:
list1 = [2, 33, 222, 14, 25]
print("list1 is list[1] :",list1 [1])

list1 is list[1] : 33

**Q. 28) Differentiate between append () and extend () methods?**

---

ans.

The append() method adds a single element to the end of the list while the extend() method adds all the elements of an iterable to the end of the list

**Q. 29) Write a Python function to get the largest number, smallest num and sum** **of all from a list.**

---

In [ ]:
my_list = [13,45,85,75,95,88,100]
print(my_list)

largest = max(my_list)
smallest = min(my_list)
total_sum = sum(my_list)

print("largest : ",largest)
print("smallest : ",smallest)
print("sum : ",total_sum)

[13, 45, 85, 75, 95, 88, 100]
largest :  100
smallest :  13
sum :  501

**Q. 30) How will you compare two lists?**

---

In [ ]:
my_list1 = [4,5,1,8,9]
my_list2 = [4,5,8,9,10]
if my_list1 == my_list2:
  print("True")
else:
  print("False")

False

**Q. 31) Write a Python program to count the number of strings where the string**  
**length is 2 or more and the first and last character are same from a given list** **of strings.**

---

In [ ]:
my_str = ["sandhya","rami","neha"]
count = 0
for i in my_str:
  if len(my_str) >= 2 and my_str[0] == my_str[-1]:
    count += 1
print(count)

0

**Q. 32) Write a Python program to remove duplicates from a list.**

---

In [ ]:
mylist = [5,8,4,2,9,8,5,6,2,2,1]
myset = set(mylist)
mylist1 = list(myset)
print("remove duplicates is = ",mylist1)

remove duplicates is =  [1, 2, 4, 5, 6, 8, 9]

**Q. 33) Write a Python program to check a list is empty or not.**

---

In [ ]:
mylist = [5,8,4,2,9,8,5,6,2,2,1]
if mylist == 0 :
  print("list is  empty")
else:
  print("list is not empty")

list is not empty

**Q. 34) Write a Python function that takes two lists and returns true if they**
**have at least one common member.**

---

In [ ]:
list1 = ["sandhya","rami","neha"]
list2 = [4,8,9,2,4,"sandhya",8,9]
set1 = set(list1)
list3 = set1.intersection(list2)
print("common member is : ",list3)

common member is :  {'sandhya'}

**Q. 35) Write a Python program to generate and print a list of first and last 5**
**elements where the values are square of numbers between 1 and 30.**

---

In [ ]:
def generate_list():
  square = [i ** 2 for i in range(1,31)]
  print("frist 5 elementa of list : ",square[:5])
  print("last 5 elementa of list : ",square[-5:])
generate_list()

frist 5 elementa of list :  [1, 4, 9, 16, 25]
last 5 elementa of list :  [676, 729, 784, 841, 900]

**Q. 36) Write a Python function that takes a list and returns a new list with**
**unique elements of the first list.**

---

In [ ]:
mylist = [1,5,8,8,7,7,9,9,6,6,6,4,4,2,2,1,3,5,7,8,9,0,10]
set1 = set(mylist)
new_mylist = list(set1)
print("unique elements of the first list : ",new_mylist)

unique elements of the first list :  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

**Q. 37) Write a Python program to convert a list of characters into a string.**

---

In [ ]:
char_list = ["S","a","n","d","h","y","a"]
char_list1 = "".join(char_list)
print(char_list1)

Sandhya

**Q. 38) Write a Python program to select an item randomly from a list.**

---

In [ ]:
import random

def select_random_item(item_list):
    return random.choice(item_list)

# Example usage
item_list = [6,4,8,7,"sandhya"]
random_item = select_random_item(item_list)
print(random_item)

8

**Q. 39) Write a Python program to find the second smallest number in a list.**

---

In [ ]:
my_list = [4,4,4,5,7,8,1,9,3,6,7,2,7]
my_list[-2]

2

**Q. 40) Write a Python program to get unique values from a list**

---

In [ ]:
my_list = [4,4,4,5,7,8,1,9,3,6,7,2,7]
unique_set = set(my_list)
unique_list = list(unique_set)
print("unique values is : ",unique_list)

unique values is :  [1, 2, 3, 4, 5, 6, 7, 8, 9]

**Q. 41) Write a Python program to check whether a list contains a sub list**

---

In [ ]:
list1 = [2,8,5,7,"sandhya"]
list2 = [8,"sandhya"]
if list1 in  list2:
  print("False")
else:
  print("True")

True

**Q. 42) Write a Python program to split a list into different variables**

---

In [ ]:
mylist = [1,2,3,4,5,6,7,8,9,10]
a,b,c,d,e,f,g,h,i,j  = mylist
print(a,b,c,d,e,f,g,h,i,j)

1 2 3 4 5 6 7 8 9 10

**Q. 43) What is tuple? Difference between list and tuple.**

---

ANS.

In python tuple they are very similar to list.however,unlike list they are imutable meaning that they can not be change.list is a mutable,order of a elements.list are changeable element can be modify after list is created.tuple are very similar to list but tuple are imutable they can not be change

**Q. 44) Write a Python program to create a tuple with different data types.**

---

In [ ]:
my_tuple = (5,8,4.5,True,"sandhya",9.52)
print(my_tuple)

(5, 8, 4.5, True, 'sandhya', 9.52)

**Q. 45) Write a Python program to unzip a list of tuples into individual lists.**

---

In [ ]:
mylist = [(13,9,2000),("sandhya","rami","neha"),(4.5,9.5,8.58)]
x,y,z = zip(*mylist)
print(x)
print(y)
print(z)

(13, 'sandhya', 4.5)
(9, 'rami', 9.5)
(2000, 'neha', 8.58)

**Q. 46) Write a Python program to convert a list of tuples into a dictionary.**

---

In [ ]:
mylist = [(13,9),("sandhya","rami"),(4.5,9.5)]
my_dict = dict(mylist)
print(my_dict)

{13: 9, 'sandhya': 'rami', 4.5: 9.5}

**Q. 47) How will you create a dictionary using tuples in python?**

---

In [ ]:
mytuple = ((13,9),("sandhya","rami"),(4.5,9.5))
my_dict = dict(mytuple)
print(my_dict)

{13: 9, 'sandhya': 'rami', 4.5: 9.5}

**Q. 48) Write a Python script to sort (ascending and descending) a**
**dictionary by value.**

---

In [ ]:
mydict = {1 : "apple",2 : "banana",3 : "cherry"}
sort_dict_asc = dict(sorted(mydict.items(),key=lambda item: item[1]))
print(sort_dict_asc)
sort_dict_dec = dict(sorted(mydict.items(),key=lambda item: item[1],reverse=True))
print(sort_dict_dec)

{1: 'apple', 2: 'banana', 3: 'cherry'}
{3: 'cherry', 2: 'banana', 1: 'apple'}

**Q. 49) Write a Python script to concatenate following dictionaries to create** **a new one.**

---

In [ ]:
my_dict1 = {"a":1,"b":2}
my_dict2 = {"c":3,"d":4}
my_dict3 = {"e":5,"f":6}
contact_dict = {**my_dict1,**my_dict2,**my_dict3}
print(contact_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

**Q. 50) Write a Python script to check if a given key already exists in a**
**dictionary.**

---

In [ ]:
mydict = {1 : "apple",2 : "banana",3 : "cherry"}
check_key = 4
if check_key in mydict:
  print("the key",check_key,"exit is dictionary")
else:
  print("the key",check_key,"exit is not dictionary")

the key 4 exit is not dictionary

**Q. 51) How Do You Traverse Through a Dictionary Object in Python?**

---

In [ ]:
mydict = {1 : "apple",2 : "banana",3 : "cherry"}
for key,value in mydict.items():
  print(key,value)

1 apple
2 banana
3 cherry

**Q. 52) How Do You Check the Presence of a Key in A Dictionary?**

---

In [ ]:
mydict = {1 : "apple",2 : "banana",3 : "cherry"}
for key,value in my_dict.items():
 if check_key in mydict:
   print("the key",check_key,"exit is dictionary")
 else:
   print("the key",check_key,"exit is not dictionary")

the key 4 exit is not dictionary
the key 4 exit is not dictionary
the key 4 exit is not dictionary

**Q. 53) Write a Python script to print a dictionary where the keys are**
**numbers between 1 and 15.**

---

In [ ]:
my_dict = {}
for i in range(1,16):
  my_dict[i] = i**2
print(my_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

**Q. 54) Write a Python program to check multiple keys exists in a dictionary**

---

In [ ]:
mydict = {"name":"sandhya","age":22,"roll no":36}
check_key = ["name","age","roll no"]
if (key in mydict for key in check_key):
  print("all keys exit in dictionary")
else:
  print(" Not all keys exit in dictionary")

all keys exit in dictionary

**Q. 55) Write a Python script to merge two Python dictionaries**

---

In [ ]:
my_dict1 = {"a":1,"b":2}
my_dict2 = {"c":3,"d":4}
contact_dict = {**my_dict1,**my_dict2}
print(contact_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**56) Write a Python program to map two lists into a dictionary**

 **#**
**Sample output: Counter ({'a': 400, 'b': 400,’d’: 400, 'c': 300}).**

---

In [ ]:
list1 = ["a","b","c","d"]
list2 = [100,200,300,400]
mydict = dict(zip(list1,list2))
print(mydict)

{'a': 100, 'b': 200, 'c': 300, 'd': 400}

**Q. 57) Write a Python program to find the highest 3 values in a dictionary**

---

In [ ]:
my_num = {'a': 100, 'b': 200, 'c': 300, 'd': 400}
sorted_value = sorted(my_num.values(),reverse=True)[:3]
print(sorted_value)

[400, 300, 200]

**58) Write a Python program to combine values in python list of dictionaries.**
**Sample data: [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount':**
**300}, o {'item': 'item1', 'amount': 750}]**


**Expected Output:**
**• Counter ({'item1': 1150, 'item2': 300})**

---

In [74]:
mylist = [{'item': 'item1', 'amount': 400}, {'item': 'item2', 'amount': 300},{'item': 'item1', 'amount': 750}]
combain_mylist = {}
for i in mylist:
  item = i["item"]
  amount = i["amount"]
  if item in combain_mylist:
    combain_mylist[item] += amount
  else:
    combain_mylist[item] = amount
list1 = [{"item": item,"amount" : amount} for item,amount in combain_mylist.items()]
print(list1)

[{'item': 'item1', 'amount': 1150}, {'item': 'item2', 'amount': 300}]

**Q. 59) Write a Python program to create a dictionary from a string.**
**Note: Track the count of the letters from the string.**

---

In [ ]:
my_str = "sandhya rami"
count_string = {}
for i in my_str:
  if i in count_string:
    count_string[i] += 1
  else:
    count_string[i] = 1
print(count_string)

{'s': 1, 'a': 3, 'n': 1, 'd': 1, 'h': 1, 'y': 1, ' ': 1, 'r': 1, 'm': 1, 'i': 1}

**Q. 60) Sample string:'w3resource' Expected output: • {'3': 1,’s’: 1, 'r': 2, 'u':** **1, 'w': 1, 'c': 1, 'e': 2, 'o': 1}**

---

In [ ]:
my_str = "w3resource"
count_string = {}
for i in my_str:
  if i in count_string:
    count_string[i] += 1
  else:
    count_string[i] = 1
print(count_string)

{'w': 1, '3': 1, 'r': 2, 'e': 2, 's': 1, 'o': 1, 'u': 1, 'c': 1}

**Q.61) Write a Python function to calculate the factorial of a number (a**
**nonnegative integer)**

---

In [ ]:
number = int(input("enter the factorial ="))
factorial < 0
for i in range(1,number+1):
  factorial *= i
print("number of",number," is",factorial)

enter the factorial =9
number of 9  is 362880

**Q. 62) Write a Python function to check whether a number is in a given range**

---

In [ ]:
num = int(input("enter a number = "))
range1 = int(input("enter a number = "))
if num in range(1,range1):
  print("number in range")
else:
  print("number in not range")

enter a number = 10
enter a number = 20
number in range

**Q. 63) Write a Python function to check whether a number is perfect or not.**

---

In [ ]:
num = int(input("enter a number = "))
if num % i == 0:
  print("number is perfect")
else:
  print("number is not perfect")

enter a number = 0
number is perfect

**Q. 64) Write a Python function that checks whether a passed string is**
**palindrome or not**

---

In [ ]:
my_string = input("enter a string = ")
if my_string == my_string[::-1]:
  print("string is palindrome")
else:
  print("string is not palindrome")

enter a string = sandhya
string is not palindrome

**Q. 65) How Many Basic Types of Functions Are Available in Python?**

---

ANS.

Built-in Functions: These are pre-defined functions readily available in Python. Examples include print(), len(), range(), and type(). User-defined Functions: These are functions created by the user to perform specific tasks. They are defined using the def keyword

**Q. 66) How can you pick a random item from a list or tuple?**

---

In [ ]:
# using random item in list

import random
my_list = [1,2,3,4,5,6,7,8,9]
print(random.choice(my_list))

# using random item in tuple
import random
my_tuple = [1,2,3,4,5,6,7,8,9]
print(random.choice(my_tuple))

9
6

**Q. 67) How can you pick a random item from a range?**

---

In [ ]:
import random
random_number = random.randrange(1,11)
print(random_number)

10

**Q. 68) How can you get a random number in python?**

---

In [ ]:
import random
random_float = random.random()
print(random_float)

0.544526927048815

**Q. 69) How will you set the starting value in generating random numbers?**

---

ANS.

Import the random Module: Start by importing the random module, which provides tools for generating random numbers.

Use the seed() Function: The random.seed(value) function initializes the random number generator with a specific value. This ensures that the sequence of random numbers generated is reproducible.

Choosing a Seed: The seed can be any integer or hashable object. Common choices include a specific number, system time, or a value derived from external sources

In [ ]:
import random
random.seed(11)
random_num1 = random.random()
random_num2 = random.randrange(1,50)
random_num3 = random.uniform(1.5,9.5)
print("random number between 0 to 1 : ",random_num1)
print("random number range between 1 to 11 : ",random_num2)
print("random number float between 1.5 to 9.5 : ",random_num3)

random number between 0 to 1 :  0.4523795535098186
random number range between 1 to 11 :  36
random number float between 1.5 to 9.5 :  8.354904051077996

**Q. 70) How will you randomize the items of a list in place?**

---

In [ ]:
my_list = ["sandhya","Aarti","neha","Dipty","bunty"]
random.shuffle(my_list)
print(my_list)

['Aarti', 'sandhya', 'neha', 'bunty', 'Dipty']

**Q. 71) What is File function in python? What are keywords to create**
**and write file.**

---

ANS.

In Python, you don't have a single "File function". Instead, you interact with files using built-in functions and methods.

To create and write to a file, you'll primarily use these keywords and functions:

1). open(): This function is used to open a file and returns a file object. The key is to use the right mode when opening:

1. 'r': Read mode (default). Opens the file for reading.


2. 'w': Write mode. Creates a new file or truncates an existing file.


3. 'a': Append mode. Creates a new file or appends to an existing file.


4. 'b': Binary mode. Used in combination with other modes (e.g., 'rb', 'wb').



2). write(): This method of a file object is used to write a string to the file.

3). close(): It's essential to close the file object after you're done writing to it to ensure that all changes are saved and resources are released.